.container {
  max-width: 400px;
  display: grid;
  grid-template-columns: auto auto;
}

.input {
  background-color: var(--input-bg-color);
  font-family: var(--button-font);
  font-size: 1.5em;
  border: none;
  border-radius: 10px 0 0 10px;
  padding: 0.5em;
  color: var(--input-text-color);
}

.loupe {
  width: 70%;
  background-color: var(--input-bg-color);
  fill: var(--secondary-bg-color);
  border: none;
  border-radius: 0 10px 10px 0;
}
