.container {
  background-color: var(--input-bg-color);
  display: grid;
  grid-template-columns: 90% 10%;
  align-items: center;
  border-radius: 20px;
  padding: 0.5em;
}

.input {
  background-color: var(--input-bg-color);
  font-family: var(--button-font);
  font-size: 1.5em;
  border: none;
  color: var(--input-text-color);
}

.loupe {
  grid-column: 2;
  width: 50%;
  fill: var(--secondary-bg-color);
  padding: 0;
}
