.btn {
  background-color: var(--button-bg-color);
  border: none;
  border-radius: 40px;
  box-shadow: 2px 2px 3px black;
  font-family: var(--button-font);
  font-weight: 400;
  font-size: 2em;
  font-style: italic;
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
}

.icon {
  padding-left: 0.3em;
  display: grid;
  grid-column: end;
}
