.container {
  display: grid;
  grid-template-columns: 25px auto 25px;
  text-align: center;
  align-items: center;
}

.preBtn {
  cursor: pointer;
}

.city {
  color: var(--secondary-color);
  padding: 0 4em;
  margin: 0;
}

.nextBtn {
  cursor: pointer;
}
