.container {
  background-color: var(--main-color);
  text-align: center;
  display: grid;
  grid-template: auto auto / auto auto;
  grid-template-areas:
    "logo text"
    "subtitle subtitle";
}

.logo {
  grid-area: logo;
  fill: var(--main-text-color);
  justify-self: end;
}

.logotext {
  grid-area: text;
  color: var(--main-text-color);
  font-size: 2.2em;
  margin: 0;
  justify-self: start;
  align-self: flex-end;
}

.subtitle {
  grid-area: subtitle;
  margin: 0.5em;
  color: var(--main-text-color);
  font-family: "Montserrat 200", sans-serif;
  letter-spacing: 0.1em;
}
