.container {
  margin-top: 1.8em;
}

.header {
  display: grid;
  justify-content: center;
}

.list {
  min-width: 320px;
  display: grid;
  justify-content: center;
  row-gap: 1em;
  list-style: none;
  padding: 0;
}
