.container {
  margin-top: 1.8em;
}

.headline {
  text-align: center;
  color: var(--secondary-text-color);
}

.list {
  display: grid;
  justify-content: center;
  row-gap: 1em;
  min-width: 320px;
  list-style: none;
  padding: 0;
}
