.container {
  min-height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  justify-content: center;
  align-items: center;
}
