.container {
  background-color: var(--secondary-color);
  background-image: url(../public/background.svg);
  background-size: 90vw;
  background-repeat: no-repeat;
}

.main {
  display: grid;
  grid-template-rows: 35% 1fr;
  justify-content: center;
  height: 100vh;
}

.logo {
  grid-row: 2;
  width: 90vw;
}

.button {
  grid-row: end;
  margin-bottom: 3em;
  justify-self: center;
}
