.map {
  display: grid;
  justify-content: center;
  text-align: center;
}

.markerButton {
  background-color: transparent;
  border-style: none;
  cursor: pointer;
}

.popup {
  max-width: 80vw;
}

.popupCampname {
  text-align: center;
  font-size: 1.3em;
  text-transform: capitalize;
}

.popupRate {
  text-align: center;
}

.loadBtn {
  border-style: none;
  border-radius: 10px;
  padding: 0.5em;
  margin-top: 1.2em;
  background-color: var(--button-bg-color);
  color: var(--button-text-color);
}
