.main {
  text-align: center;
  margin-top: 2em;
  display: grid;
  justify-items: center;
  row-gap: 1em;
}

.main :last-child {
  min-width: 320px;
}

.button {
  margin-top: 2em;
  display: grid;
  justify-items: center;
}
