.container {
  display: grid;
  align-items: center;
  width: 100%;
}

.main {
  margin-top: 1em;
  display: grid;
  justify-items: center;
  text-align: center;
  row-gap: 1em;
}

.footer {
  height: 5em;
}
