.container {
  text-align: center;
}

.date {
  justify-self: center;
  margin-top: 0.5em;
  max-width: 350px;
  color: var(--secondary-text-color);
  font-family: var(--button-font);
  font-size: 1.2em;
  border: none;
  background-color: var(--input-bg-color);
  padding: 1em;
  border-radius: 20px;
}
