.container {
  display: grid;
  text-align: center;
}

.label {
  color: var(--secondary-text-color);
  font-family: var(--main-font);
  font-weight: 700;
  padding: 1em;
}

.date {
  color: var(--secondary-text-color);
  font-family: var(--button-font);
  font-size: 1.2em;
  border: none;
  background-color: var(--input-bg-color);
  padding: 1em;
  border-radius: 20px;
}
